.card {
  border: none;
  border-radius: 15px;
}

.btn-primary {
  padding: 12px;
  font-weight: 600;
  border-radius: 8px;
}

.input-group-text {
  background-color: #f8f9fa;
  border-right: none;
}

.form-control {
  border-left: none;
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.input-group:focus-within .input-group-text {
  border-color: #80bdff;
}

.input-group:focus-within .form-control {
  border-color: #80bdff;
}
